/* CSS Document */

body{
    background-color: #A4CED1;
    width: auto;
}
h1{
    background-color: #364580;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
ul li{
	
	display: inline; margin-left: 10px;
	font-size: 25px;
	
	
}
a{ 
text-decoration: none;
	color: black;
}


a:hover{
	
	color: red;
	
}
